.body_letter {
    background: linear-gradient(#ccc, #fff);
    font: 14px sans-serif;
    padding: 20px;
}

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 1500px;
    min-height: 900px;
    padding: 24px;
    width: 80%;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

.margin_auto{
    margin: 5px auto 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;